<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.dao.ProjectEntityMapper">

    <select id="queryProjectList" parameterType="com.neu.dao.entity.ProjectEntity"
            resultType="com.neu.dao.entity.ProjectEntity">
        SELECT *
        FROM project_info
        WHERE 1 = 1
        <if test="createdBy != null and createdBy != ''">
            AND created_by = #{createdBy, jdbcType=VARCHAR}
        </if>
        <if test="projectName != null and projectName != ''">
            AND project_name LIKE concat('%',#{projectName,jdbcType=VARCHAR},'%')
        </if>
        <if test="id != null and id != ''">
            AND id = #{id, jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insert" parameterType="com.neu.dao.entity.ProjectEntity">
        insert into project_info (id, user_id, project_name, project_content, created_by, creation_date,
                                  last_updated_by, last_update_date)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
                #{projectName,jdbcType=VARCHAR}, #{projectContent,jdbcType=VARCHAR},
                #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP},
                #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.neu.dao.entity.ProjectEntity">
        update project_info
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{password,jdbcType=VARCHAR},
            </if>

            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectContent != null">
                project_content = #{projectContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="createdBy!= null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                creation_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteProjectById" parameterType="com.neu.dao.entity.ProjectEntity">
        delete
        from project_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>